.blog {
  margin-left: 15%;
  margin-right: 15%;
  border-bottom: 3px solid var(--brown);
}
.blog img {
  height: 800px;
  overflow: hidden;
}
.blog h3 {
  text-align: center;
}
.blog h4 {
  text-align: left;
}
.blog-2 {
  margin-left: 15%;
  margin-right: 15%;
}
.blog-2 h4, p{
  text-align: left;
}
.row img {
      height: 300px;
    }

.main img {
  height: 150px;
}
#products .row {
height: 500px;
overflow-y: scroll;
row-gap: 10px;
margin-bottom: 50px;
}
#products img{
  height: 300px;

}
#products .row::-webkit-scrollbar {
  height: 12px;
}

#products .row::-webkit-scrollbar-thumb,
#products .row::-webkit-scrollbar-track {
  border-radius: 92px;
}

#products .row::-webkit-scrollbar-thumb {
  background: var(--brown);
}

#products .row::-webkit-scrollbar-track {
  background: var(--thumb);
}
.main a:link {
  color: black;
}
.main a:hover {
  color: black;
}
#more {
  display: none;
}
#more1 {
  display: none;
}
p {
  font-size: 18px;
}